---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Basic",
    price: "Free",
    popular: false,
    features: [
      "Access to standard AI models",
      "Up to 3 projects",
      "Basic analytics",
      "Heuris Labs Sub domain",
      "Standard Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Professional",
    price: {
      monthly: "$49",
      annual: "$39",
      discount: "20%",
      original: "$59",
    },
    popular: true,
    features: [
      "All Basic Features",
      "Up to 10 projects",
      "Custom integrations",
      "Advanced analytics",
      "Priority email support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Professional Features",
      "Unlimited projects",
      "Custom AI model training",
      "Dedicated support team",
      "SLA & uptime guarantees",
    ],
    button: {
      text: "Contact Us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Tailored AI solutions that fit your business needs.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => (
        <PricingCard plan={item} />
      ))}
    </div>
  </Container>
</Layout>
