---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
// Import any other components you might need here
---

<Layout title="Signup">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sign Up</Fragment>
      <Fragment slot="desc">Join us and start innovating today.</Fragment>
    </Sectionhead>

    <div class="mx-auto max-w-xl mt-16">
      <form action="/api/signup" method="POST" class="space-y-6">
        <div>
          <label for="name" class="text-gray-700">Name</label>
          <input type="text" id="name" name="name" required class="w-full mt-1 p-2 border border-gray-300 rounded">
        </div>
        <div>
          <label for="email" class="text-gray-700">Email Address</label>
          <input type="email" id="email" name="email" required class="w-full mt-1 p-2 border border-gray-300 rounded">
        </div>
        <div>
          <label for="password" class="text-gray-700">Password</label>
          <input type="password" id="password" name="password" required class="w-full mt-1 p-2 border border-gray-300 rounded">
        </div>
        <div>
          <label for="confirm-password" class="text-gray-700">Confirm Password</label>
          <input type="password" id="confirm-password" name="confirm-password" required class="w-full mt-1 p-2 border border-gray-300 rounded">
        </div>
        <div>
          <button type="submit" class="w-full bg-green-600 text-white p-2 rounded hover:bg-green-700">
            Create Account
          </button>
        </div>
      </form>
      <div class="text-center mt-6">
        Already have an account? 
        <a href="/login" class="text-green-600 hover:text-green-800">Log In</a>
      </div>
    </div>
  </Container>
</Layout>
