---
import Link from "./ui/link.astro";
---

<div class="bg-blue-900 p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Accelerate Innovation with AI.
  </h2>
  <p class="text-slate-300 mt-4 text-lg md:text-xl">
    Discover custom AI-driven solutions tailored to your business, leveraging real-world data for unparalleled insights and efficiency.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Explore Solutions</Link>
  </div>
</div>
