---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Custom AI Solutions",
    description:
      "Tailored AI-driven tools and services designed with your business needs in mind, leveraging advanced LLMs and real-world data.",
    icon: "bx:bxs-brain",
  },
  {
    title: "24/7 AI Availability",
    description:
      "Our AI services ensure continuous operation, providing round-the-clock insights and support for your business operations.",
    icon: "bx:bxs-time-five",
  },
  {
    title: "Scalable and Secure",
    description:
      "Built for businesses of all sizes, our solutions scale with your growth while maintaining the highest levels of security.",
    icon: "bx:bxs-shield-alt-2",
  },
  {
    title: "Diverse Application Range",
    description:
      "From enhancing customer experience to streamlining back-end operations, our AI has applications across various sectors.",
    icon: "bx:bxs-category",
  },
  {
    title: "Efficient Decision Making",
    description:
      "Empower your business with data-driven decision-making, utilizing AI for insights that lead to better business outcomes.",
    icon: "bx:bxs-dashboard",
  },
  {
    title: "Expert Support",
    description:
      "Gain access to our team of AI experts, dedicated to providing you with the guidance and support needed for seamless integration.",
    icon: "bx:bxs-user-voice",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Powering Innovation with AI
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Heuris Labs combines cutting-edge AI technology with expert knowledge to bring you solutions that redefine potential.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-blue-900 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
