---
import { Picture } from "astro:assets";
import heroImage from "assets/ai-innovation.png"; // Ensure you have an appropriate image
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Innovative AI solutions"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Transforming the Future with AI
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Heuris Labs crafts AI-driven solutions, fine-tuned with real-world data, to revolutionize industries and enhance operational efficiency. Discover the power of tailored AI.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-rocket" />
         Explore AI Solutions
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="#"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         Contact Us
      </Link>
    </div>
  </div>
</main>
