---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Integrate into your tech stack</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:amazonaws" />
    <Icon class="h-8 md:h-12" name="simple-icons:microsoftazure" />
    <Icon class="h-8 md:h-12" name="simple-icons:googlecloud" />
    <Icon class="h-8 md:h-12" name="simple-icons:nodedotjs" />
    <Icon class="h-8 md:h-12" name="simple-icons:react" />
  </div>
</div>
